.main {
  margin-top: -60px; }
  .main h2 {
    text-align: center;
    padding: 10px;
    color: #005792;
    background: rgba(19, 51, 76, 0.1);
    margin-bottom: 10px;
    border-radius: 10px; }
  .main .fila .columna {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main .fila .columna figure {
      position: relative;
      border-radius: 12px;
      border: 2px solid #13334c;
      margin-bottom: 5px;
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%; }
      .main .fila .columna figure img {
        border-radius: 10px;
        width: 100%;
        height: 60vh;
        margin-bottom: -4px;
        /* vertical-align: middle; */ }
      .main .fila .columna figure p {
        color: #fff;
        background: rgba(9, 10, 10, 0.4);
        font-size: 1.5em;
        padding: 10px;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.contenedor_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contenedor_btn .btn {
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
    background: rgba(20, 20, 20, 0.5);
    -webkit-box-shadow: 3px 3px 4px #090a0a;
    box-shadow: 3px 3px 4px #090a0a;
    border-radius: 15px;
    text-align: center; }
    .contenedor_btn .btn a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: aliceblue;
      font-size: 1.5em;
      padding: 15px; }
