/* ************estilos responsive******************* */
@media screen and (min-width: 600px) {
  .cabecera .contenedor .icon-menu {
    display: none; }
  .cabecera .contenedor .nav {
    position: static;
    width: auto; }
    .cabecera .contenedor .nav .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 5px; }
      .cabecera .contenedor .nav .menu .menu_item .menu_link {
        margin: 0 3px;
        border-radius: 10px;
        background: none; } }
