<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="../estilos/estilos.css", rel="stylesheet")
        link(type="image/x-icon" href="../imagenes/logo.png" rel="shortcut icon") 
        link(href="../estilos/icon_menu/styles.css", rel="stylesheet")
        title Master Piscina
    body
        .contenedor_principal
            header.cabecera
                .contenedor
                    figure.logo
                        img(src="../imagenes/logo.png", alt="")
                    span.icon-menu#btn-menu
                    nav.nav#nav
                       ul.menu
                            li.menu_item
                               a.menu_link.select(href="../index.html") Inicio
                            li.menu_item
                               a.menu_link(href="nosotros.html") Nosotros
                            li.menu_item
                               a.menu_link(href="servicios.html") Servicios
                            li.menu_item
                               a.menu_link(href="proyectos.html") proyectos
                            li.menu_item
                               a.menu_link(href="contacto.html") Contacto
                            li.menu_item
                               a.menu_link(href="otros.html") Otros 
                                 
                             
            .banner  <!-- banner-->
                figure.figure
                    img.banner_img(src="../imagenes/masterpiscinas.jpg", alt="")
                .contenedor
                    h2 Master
                        span Piscina
                    p.banner_txt   Mano de obra especializada en el diseño y construción de piscinas.

            main.main_proyectos <!-- contenido principal-->
                h2 nuestros principales proyectos
                
                .fila
                    
                    figure.figure1
                        img(src="../imagenes/proyectos/sr1.jpg", alt="")   
                       
                    
                    figure.figure2
                        img(src="../imagenes/proyectos/sr2.jpg", alt="")
                        
                            
                    figure.figure3
                        img(src="../imagenes/proyectos/sr3.jpg", alt="")
                    p construcciòn piscina   <br/> santa rosa - chiclayo 
               
                .fila    
                    
                    figure.figure4
                        img(src="../imagenes/proyectos/sg1.jpg", alt="")
                          
                    figure.figure5
                        img(src="../imagenes/proyectos/sg3.jpg",alt="")
                        
                    figure.figure6
                        img(src="../imagenes/proyectos/sg2.jpg", alt="") 
                    p curado de fizuras de borde piscina, mantenimiento de equipos  <br/>condominio san gabriel - chiclayo 
                .fila    
                    
                    figure.figure4
                        img(src="../imagenes/proyectos/pd1.jpg", alt="")
                          
                    figure.figure5
                        img(src="../imagenes/proyectos/pd3.jpg",alt="")
                        
                    figure.figure6
                        img(src="../imagenes/proyectos/pd2.jpg", alt="") 
                    p Instalacion de tuberias y accesorios piscina  <br/> Urb. La pradera - chiclayo 
                .fila
                    
                    figure.figure1
                        img(src="../imagenes/proyectos/pr3.jpg", alt="")   
                       
                    
                    figure.figure2
                        img(src="../imagenes/proyectos/pr2.jpg", alt="")
                        
                            
                    figure.figure3
                        img(src="../imagenes/proyectos/pr1.jpg", alt="")
                    p Remodelaciòn de piscina y cuarto de maquinas  <br/> Ubr. la purisima - chiclayo 
                .fila    
                    
                    figure.figure4
                        img(src="../imagenes/proyectos/jaen1.jpg", alt="")
                          
                    figure.figure5
                        img(src="../imagenes/proyectos/jaen3.jpg",alt="")
                        
                    figure.figure6
                        img(src="../imagenes/proyectos/jaen2.jpg", alt="") 
                    p Instalacion de tuberias y accesorios de piscina <br/> Jaen           

                    

        footer.footer <!--************** footer*************-->
            .contenedor_footer
                h2   &copy; 2018  
                    span Master
                    span Piscina
                p Todos los derechos reservados
                p Desarrolado por  Manuel Moro Abanto
           

        script(src="../js/menu.js")